<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>[[title]]</title>
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>

<body>
	<div class="container">
		<div class="row">
			<h1>title</h1>
			<p>Welcome to [[title]]</p>
			<br>
			<form class="form-inline">
				<div class="form-group">
					<label for="people-name">Name</label>
					<input type="text" class="form-control" id="people-name" placeholder="用户名">
				</div>
				<div class="form-group">
					<label for="people-sex">sex</label>
					<!--<input type="text" class="form-control" id="people-sex" placeholder="性别">-->
					<select class="form-control" id="people-sex">
						<option value="男">男</option>
						<option value="女">女</option>
					</select>
				</div>
				<div class="form-group">
					<label for="people-age">age</label>
					<input type="text" class="form-control" id="people-age" placeholder="年龄">
				</div>
				<button type="button" class="btn btn-default" id="sub">提交</button>
			</form>
			<hr>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>用户名</th>
						<th>性别</th>
						<th>年龄</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					[[each list as value]]
					<tr class="ccc">
						<th>#</th>
						<th class="ok th-name">[[value.name]]</th>
						<th class="ok th-sex">[[value.sex]]</th>
						<th class="ok th-age">[[value.age]]</th>
						<th data-id="[[value.id]]">
							<button class="btn btn-default updata">更新</button>
							<button class="btn btn-default del" id="del">删除</button>
						</th>
					</tr>
					[[/each]]
				</tbody>
		</div>
		</table>
	</div>
	<script src="components/jquery/dist/jquery.min.js"></script>
	<script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>